<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: headFragment(title='Index')">
</head>

<body>
<!-- 	<div th:replace="fragments/fragment :: header"></div> -->
	<h2>Welcome To Tutorial 08 APAP</h2>
	<a href="/login">Login</a><br/>
	<a th:if="${#httpServletRequest.isUserInRole('ADMIN')}" href="/student/viewall">View All Student</a><br/>
	<a th:if="${#httpServletRequest.isUserInRole('USER')}" href="/student/viewall">View Student by NPM</a><br/>
	<form action="/student/view" method="get" th:if="${#httpServletRequest.isUserInRole('USER')}">
		<div>
			<div>
				<strong><label for="npm">Masukkan Nomor Pokok Mahasiswa</label></strong>
			</div>
			<input type="text" name="npm" th:value="${npm}"/>
		</div>
			<div>
				<br></br>
				<button class="button" type="submit">Lihat</button>
		</div>
	</form>
	
<!-- 	<div th:replace="fragments/fragment :: footer"></div> -->
</body>
</html>